@{
    ViewBag.Title = "Register";
}

<script src="~/js/register.js"></script>

<h2>Register</h2>

<p class="alert-danger" id="warning"></p>
<form method="post" action="@Url.Action("Register", "Register")">
    <label>new username:</label>
    <input name="username" type="text" value="" />
    <label>password:</label>
    <input name="password" type="password" value="" />
    <input class="btn btn-primary" type="submit" value="Send" name="submit" />
</form>

