@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form method="post" action="@Url.Action("Register", "Register")">
    <input name="username" type="text" value="" />
    <input type="submit" value="Send" name="submit" />
</form>

