
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form method="post" action="@Url.Action("Login", "Login")">
    <input name="username" type="text" value="" />
    <input type="submit" value="Send" name="submit" />
</form>

<a href=@("/login/register")>Register instead</a>

