@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post" action="@Url.Action("Login", "Login")">
    <input name="username" type="text" value="" />
    <input type="submit" value="Send" name="submit" />
</form>

