@model Chat.Models.GroupChatData
@{
    ViewBag.Title = "Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Group</h1>
<h2>@(Model.Group.Name)</h2>

@Html.Partial("_ListOfUsers")

<ul>
    @foreach (Chat.Models.GroupMessage m in Model.Messages)
    {
        <li>@(m.User.Username + ": " + m.Content)</li>
    }
</ul>

<form method="post" action="@Url.Action("WriteToGroup", "Chat", new { groupName = Model.Group.Name})">
    <input name="msgText" type="text" value="" />
    <input type="submit" value="Send" name="submit" />
</form>



