
@{
    ViewBag.Title = "NewFriend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Friend</h2>

<form method="post" action="@Url.Action("AddFriend", "Chat")">
    <input name="friendName" type="text" value="" />
    <input type="submit" value="Send" name="submit" />
</form>