@{
    ViewData["Title"] = "Home Page";
}

<h2>Chat SPA</h2>
<p>Please log in to proceed further:</p>

<a class="btn btn-primary" href="@Url.Action("Login", "Login")">login</a>
<a class="btn btn-primary" href="@Url.Action("Register", "Register")">register</a>

